<!-- profile-sidenav -->
<div class="profile-sidenav">
    <div class="card mh-100">
        <label for="getFile" *ngIf="!profileimage"><img src="{{profileicon}}" class="logo mx-auto d-block" style="margin-top: -48px;"></label>
        <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" accept="image/*" />
        <label for="getFile" *ngIf="profileimage"><img src="{{FilePath}}{{profileimage}}" class="logo mx-auto d-block" style="margin-top: -48px;"></label>
        <input type='file' (change)="onSelectFile($event)" id="getFile" style="display:none" accept="image/*" />
        <h6 class="card-title text-center">{{username}}</h6>
        <div class="sidenavdetails">
            <li [routerLink]="['/allcourses']" routerLinkActive="active">
                <a><span> <img src={{allcourses}}>&nbsp;&nbsp; All Courses</span>
            </a></li>
            <li [routerLink]="['/mypurchases']" routerLinkActive="active">
                <a><span> <img src="{{purchases}}">&nbsp;&nbsp; My Purchases</span>
            </a></li>
            <li [routerLink]="['/profile']" routerLinkActive="active">
                <a><span> <img src="{{profilesetting}}">&nbsp;&nbsp; Account Setting</span>
            </a></li>
            <li [routerLink]="['/changePassword']" routerLinkActive="active">
                <a><span> <img src="{{key}}">&nbsp;&nbsp;Change Password</span>
            </a></li>
            <li [routerLink]="['/privacy']" routerLinkActive="active">
                <a><span> <img src={{privacy}}>&nbsp;&nbsp;Privacy</span>
            </a></li>
            <li [routerLink]="['/terms']" routerLinkActive="active">
                <a> <span> <img src="{{help}}">&nbsp;&nbsp;Terms & Conditions</span>
                </a>
            </li>
        </div>
    </div>
    <div class="mh-100">
        <div class="icons text-center">
            <img src="{{logout}}" alt="logo" data-toggle="modal" data-target=".logout2-modal-sm" style="cursor: pointer;">
        </div>
    </div>
</div>

<!-- logout users Modal -->
<div class="modal fade logout2-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logout2ModelLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <h6 class="" style="color: #000000;">Are you sure want to logout?</h6>
            </div>
            <div class="row logoutbuttons">
                <div class="col">
                    <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary logoutbutton btn-block" (click)="logoutclick()" data-dismiss="modal">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>