 * {
     font-family: 'Poppins', sans-serif;
 }
 
 .logo {
     height: 64px;
     width: 64px;
     cursor: pointer;
     border-radius: 50%;
     box-shadow: 0px 0px 8px #00000017;
 }
 
 .card-title {
     margin-top: 16px;
     font-size: 18px;
 }
 
 .joined {
     font-size: 14px;
 }
 
 .card {
     margin: 16px;
     box-shadow: 0px 0px 8px #00000017;
     background: #FFFFFF 0% 0% no-repeat padding-box;
     border-radius: 4px;
     height: 529px;
 }
 
 .sidenavdetails {
     margin-top: 32px;
 }
 
 .icon-logout {
     position: absolute;
     bottom: 0;
     text-align: center;
     width: 100%;
 }
 
 .active {
     color: #526F94;
     background: transparent linear-gradient(90deg, #FFFFFF 0%, #00000016 12%, #E0DBDB1E 44%, #E0DBDB1E 57%, #E0DBDB1E 90%, #E0DBDB1E 100%) 0% 0% no-repeat padding-box;
     border-right: 2px solid #868686;
 }
 
 li {
     padding: 12px;
     list-style-type: none;
     font-size: 16px;
     cursor: pointer;
     color: #1E1D1D;
     outline: none;
 }
 
 .logoutbuttons {
     margin: 16px 8px 24px 8px;
 }
 
 .logoutbutton {
     background: #F65B01 0% 0% no-repeat padding-box;
     border-color: #F65B01;
     color: #FFFFFF;
 }