<div class="container-fluid">
    <app-nav-bar></app-nav-bar>
    <hr>
    <div class="" *ngFor="let list of prodcutdetils;">
        <div class="mocktest">
            <div class="row">
                <div class="col-md-6">
                    <div class="mocktestDetails">
                        <h2 class="title">{{list.ProductName}}</h2>
                        <p class="title-sub">{{list.ShortDescription}}</p>
                        <div class="seats-review">
                        </div>
                        <a *ngIf="UserPurchased==zero && this.mocktestCount!=zero && list.LiveProduct ==zero" class="" (click)="navpaymentpage()" style="cursor: pointer;">
                            <p class="buynow-button">Buy Now</p>
                        </a>

                        <a *ngIf="UserPurchased==zero && list.LiveProduct ==one && UserBookSlot==one" class="" (click)="navlivepaymentpage()" style="cursor: pointer;">
                            <p class="buynow-button">Buy Now</p>
                        </a>

                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{{path}}{{list.ProductImage}}" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- mock slots -->
        <div class="mocktest-slots" *ngIf="list.LiveProduct != one">
            <div class="row">
                <div class="btn-default" (click)="productid()" style="cursor: pointer;"><img src="{{mocktestnumber}}" class="">
                    <span class="btn-label">{{mocktestCount}} Mock Test</span>
                </div>
                <div class="btn-default" style="cursor: pointer;" (click)="sharedetails(list)" data-toggle="modal" data-target="#sharefeedmodel"><img src="{{mocktestshare}}" class="share" style="padding: 13px;">
                    <span class="btn-label">Share</span>
                </div>
            </div>
        </div>

        <div class="mocktest-slots" *ngIf="list.LiveProduct == one && UserPurchased==zero">
            <div class="row">
                <div class="btn-default" style="cursor: pointer;" (click)="openbookingslotmodel()"><img src="{{sloticon}}" class="">
                    <span class="btn-label">Select Slot</span>
                </div>
            </div>
        </div>

        <!-- product description -->
        <div class="productDescriptionDetails">
            <div class="row">
                <div class="col-md-8" *ngIf="list.LiveProduct != one">
                    <div class="productionDetails">
                        <p class="title1">Product Description</p>
                        <p class="title2">Course highlights</p>
                        <p class="title-highlights" [innerHTML]="list.CourseHighlights | linebreak"></p>
                        <p class="title2">Package includes</p>
                        <p class="title-highlights" [innerHTML]="list.PackageIncludes | linebreak"></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productionDetails" *ngIf="UserPurchased==zero && this.mocktestCount!=zero && list.LiveProduct ==zero">
                        <p class="amount my-auto">
                            <span class="totalamountbottom">Total Amount</span>
                            <span class="" style="float: right;">{{list.Amount}} /-</span>
                        </p><br>
                        <div class="amountdetails" (click)="navpaymentpage()" style="cursor: pointer;">
                            <p class="buynow-button-right">Buy Now</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="productDescriptionDetails">
            <div class="row">
                <div class="col-md-8" *ngIf="UserBookSlot == one">
                    <div class="productionDetails">
                        <div class="title111">Booked Slot</div>
                        <div class="title11">Date & Time: {{SelectedDatefromdb}}({{TimeSlotfromdb}}) </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="productionDetails" *ngIf="UserPurchased==zero && list.LiveProduct ==one && UserBookSlot==one">
                        <p class="amount my-auto">
                            <span class="totalamountbottom">Total Amount</span>
                            <span class="" style="float: right;">{{list.Amount}} /-</span>
                        </p><br>
                        <div class="amountdetails" (click)="navlivepaymentpage()" style="cursor: pointer;">
                            <p class="buynow-button-right">Buy Now</p>
                        </div>
                    </div>
                </div>



            </div>

            <!-- faq -->
            <div class="fqa">
                <div class="faqheader">
                    <p class="title1 my-auto">Frequently Asked Question</p>
                </div>
                <div class="col-md-8">
                    <div id="accordion" class="custom-accordion">
                        <div class="card" *ngFor="let fa of faqlist; let i=index;" style="margin: 16px;">
                            <div class="card-header" id="headingOne">
                                <span data-toggle="collapse" [attr.data-target]="'#collapse'+i" aria-expanded="true" aria-controls="collapseOne" style="font-size: 18px; color:#1E1D1D; cursor: pointer;">
                            {{fa.Question}}
                            <span><img src="{{plus}}" class="" style="float: right;"></span>
                                </span>
                            </div>
                            <div [attr.id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body" style="font-size: 16px; color: #707070;">
                                    {{ fa.Answer }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>


        <!-- share feed Modal -->
        <div class="modal fade" id="sharefeedmodel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModelLabel">Share</h5>
                        <button type="button" class="close" #closeshareModel data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <share-buttons [theme]="'circles-dark'" [exclude]="['sms','facebook','twitter','linkedin','pinterest','reddit','mix','vk','telegram','messenger','xing','line','sms','copy']" [include]="['whatsapp','email']" [show]="9" [size]="1" [showText]="true" [title]="name"
                            [url]="'https://treta.info'" [image]="'https://treta.info'" [description]='desc' [autoSetMeta]="true"></share-buttons>
                    </div>
                </div>
            </div>
        </div>

        <!-- slot booking Modal -->
        <button id="openModal" #openbokkslotModel [hidden]="true" data-target=".openbokkslotModel-modal-lg" data-toggle="modal"></button>
        <div class="modal fade openbokkslotModel-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" [hidden]="true" class="close" #closebokkslotModel data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                    <div class="modal-body">
                        <div class="" style="font-size:18px; color: #3E5776; font-weight:400; text-align: center;text-transform: capitalize;">
                            LET'S BOOK SLOT</div>
                        <div class="" style="font-size:16px; color: #707070; font-weight:300; text-align: center;text-transform: capitalize; margin-top: 4px;">
                            choose a date and time that work best for you</div>
                        <hr>
                        <div class="" style="font-size:18px; color: #F65B01; font-weight:600; text-align: center; margin-top: 16px;">
                            <span style="cursor: pointer; padding:0px 4px;" (click)="dateleftclick()"><img
                            src="{{sessionsleftarrow}}"></span>&nbsp;&nbsp;&nbsp; {{currentdateandslotSet?.Date}}&nbsp; &nbsp;&nbsp;
                            <span style="cursor: pointer; padding:0px 4px;" (click)="daterightclick()"><img
                            src="{{sessionsrightarrow}}"></span>
                        </div>

                        <div class="" style=" text-align: center; margin-top: 24px;">
                            <span class="dayslots" *ngFor="let days of daystodisplay;let i=index" [ngClass]="{'selectedday-color' : i==selecteddayIndex}">{{days.name}}</span>
                        </div>

                        <div class="" style="font-size:18px; color: #201E1E; font-weight:400; text-align: center; margin-top: 24px;text-transform: capitalize;">
                            select time</div>
                        <div class="" style="margin-top: 24px;">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let slots of displaycurrentslots;let i=index">
                                    <div class="">
                                        <div *ngIf=" nocurrentslots>zero" class="card timeslots" [ngClass]="{'selectedslot-color' : i==selectedslotIndex}" (click)="changeslotColor(i, slots.TimeSlot, slots.TimeSlotID)">{{slots.TimeSlot}}</div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="nocurrentslots==zero" style="font-size:18px; color: #F65B01; font-weight:600; text-align: center; margin-top: 16px;" class="">{{noSlotsvailabledata}}</div>
                        </div>
                        <div class="" *ngIf="nocurrentslots!=zero">
                            <input type="button" class="btn btn-default slotapply" value="Apply" (click)="slotbookingapplybutton()" />
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <app-spinner></app-spinner>