* {
    font-family: 'Poppins', sans-serif;
}

.mocktestDetails {
    margin: 64px;
}

.title {
    font-size: 28px;
    color: #201E1E;
    font-weight: bold;
}

.img-fluid {
    border-radius: 8px;
}

.title-sub {
    font-size: 16px;
    color: #707070;
    text-align: justify;
}

.seats-review {
    margin-top: 32px;
    margin-bottom: 32px;
    color: #707070;
}

.buynow-button {
    font-weight: 500;
    float: left;
    border: 1px solid #F65B01;
    color: #F65B01;
    text-align: center;
    padding: 3px 80px;
    border-radius: 4px;
    font-size: 22px;
}


/* mocktest-slots */

.mocktest-slots {
    margin: 0px 32px;
}

.btn-default {
    float: left;
    border: 0.5px solid #707070;
    text-align: center;
    font-size: 20px;
    padding-right: 8px;
    border-radius: 4px;
    color: #3E5776;
    margin: 8px;
    font-weight: 400;
}

.productionDetails {
    padding: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 11px #00000014;
    border-radius: 4px;
    opacity: 1;
    margin: 16px;
}

.title1 {
    font-size: 22px;
    color: #201E1E;
    font-weight: 500;
}

.title2,
.modal-title {
    font-size: 18px;
    padding: 8px 0px;
    color: #201E1E;
    font-weight: 400;
}

.title-highlights {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
}

.buynow-button-right {
    background-color: #F65B01;
    color: white;
    text-align: center;
    padding: 4px 40px;
    margin: 16px;
    font-size: 26px;
    border-radius: 4px;
    cursor: pointer;
    height: 49px;
}

.amount {
    margin: 16px;
    padding: 16px 24px 42px 24px;
    font-size: 20px;
    color: #F65B01;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000012;
    border-radius: 4px;
}


/* about faculty */

.aboutfaculty,
.Recommendedproducts,
.Recommendedproducts,
.faqheader {
    background-color: #F3F3F3;
    margin: 16px;
    padding: 2px 32px 2px 32px;
    border-radius: 4px;
}

.Recommendedproducts,
.faqheader,
.productlist,
.facultydetiled,
.fqa,
.Recommendedproducts {
    margin: 48px 0px 48px 0px;
}

.totalamountbottom {
    float: left;
    font-size: 20px;
}


/* card styles */

.card {
    border-radius: 8px;
    width: 100%;
    margin: 48px;
    -webkit-box-shadow: none;
    box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.2);
}

.card-title {
    font-size: medium;
}

.card-text {
    color: gray;
}

.timeslots {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000012;
    border: 0.800000011920929px solid #3E5776;
    border-radius: 4px;
    opacity: 1;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    margin: 4px;
}

.slotapply {
    background: #F65B01 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 18px;
    color: #FFFFFF;
    border: #F65B01;
    width: 100%;
    text-transform: capitalize;
    margin-top: 16px;
}

.selectedslot-color {
    background: #3E5776 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 4px #00000012;
    border: 0.800000011920929px solid #3E5776;
    border-radius: 4px;
    opacity: 1;
    color: #FFFFFF;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    margin: 4px;
}

.dayslots {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000017;
    border-radius: 8px;
    color: #201E1E;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 6px;
    padding: 8px;
}

.selectedday-color {
    background: #3E5776 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 6px;
    padding: 8px;
}

.title11 {
    margin-top: 8px;
    color: #F65B01;
    font-size: 18px;
}

.title111 {
    margin-top: 8px;
    font-size: 22px;
    color: #201E1E;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
    .img-fluid {
        border-radius: 8px;
    }
    .title-sub {
        font-size: 16px;
        color: #707070;
    }
    .buynow-button {
        font-weight: 500;
        float: left;
        border: 1px solid #F65B01;
        color: #F65B01;
        text-align: center;
        padding: 3px 32px;
        font-size: 14px;
        border-radius: 4px;
    }
    .buynow-button-right {
        background-color: #F65B01;
        color: white;
        text-align: center;
        padding: 4px 20px;
        margin: 16px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        height: 35px;
    }
    .title1 {
        font-size: 18px;
    }
    .title2 {
        font-size: 16px;
        padding: 8px 0px;
    }
    .totalamountbottom {
        float: left;
        font-size: 16px;
    }
    .amount {
        margin: 16px;
        padding: 16px 24px 42px 24px;
        font-size: 16px;
        color: #F65B01;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000012;
        border-radius: 4px;
    }
    .title11 {
        margin-top: 8px;
        color: #F65B01;
        font-size: 14px;
    }
    .title111 {
        margin-top: 8px;
        font-size: 14px;
        color: #201E1E;
        font-weight: 500;
    }
    .productionDetails {
        padding: 8px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 11px #00000014;
        border-radius: 4px;
        opacity: 1;
        margin: 8px;
    }
}

@media only screen and (max-width: 330px) {
    .totalamountbottom {
        font-size: 14px;
    }
    .amount {
        font-size: 14px;
        color: #F65B01;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000012;
        border-radius: 4px;
    }
}