<div class="instructions" *ngFor="let test of mockTestInstructions;">
    <h2 class="title my-auto">Instructions</h2>
    <h3 class="inst-read">Please Read The Following Instructions Very Carefully :</h3>
    <p class="inst-read">{{test.MockTestName}}</p>
    <p class="inst-read" *ngIf="test.TestDescription"><span style="color: #FA6868;">Note:</span>&nbsp;&nbsp;{{test.TestDescription}}</p>
    <div class=" col-md-6 quiz-type" *ngIf="mocktesttype=='G'">
        <table class="table table-sm">
            <thead class="thead">
                <tr class="header">
                    <th scope="col" style="width: 10%;">S.No</th>
                    <th scope="col" style="width: 25%;">Subjects</th>
                    <th scope="col" style="width: 25%;">No.Of Questions</th>
                    <!-- <th scope="col" style="width: 20%; text-align: center;">Marks</th> -->
                    <!-- <th scope="col" style="width: 20%;">Time(Minute)</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of mockTestSubjects; let i=index;">
                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        {{list.SubjectName}}
                    </td>
                    <td style="text-align: center;">
                        {{list.CountQuestions}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="instructiondetils">
        <div class="col-md-10">
            <div class="card">
                <div class="scroll">
                    <div class="card-body">
                        <p *ngFor='let inst of mockTestInst'>{{inst.Instruction}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="langandcheckbox">
        <div class="language"><span class="lang" style="font-size: 16px;">Choose Your Default Language</span>&nbsp;&nbsp;
            <select class="select">
                <option *ngFor="let option of options" [value]="option.id">
                  {{option.name}}
                </option>
              </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" #chkEnable ngModel value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                I've read all the instructions carefully and abide by them.
            </label>
        </div>
        <div class="form-group">
            <button type="submit" (click)="productid(test.MockTestID)" [disabled]="!chkEnable.checked" class="btn btn-default shadow-none">Start Test</button>
        </div>
    </div>
</div>

<app-spinner></app-spinner>