*{
    font-family: 'Poppins', sans-serif;
}

.instructions {
    margin:48px 32px;
}

.title {
    background-color: #F3F3F3;
    padding: 2px 32px 2px 16px;
    border-radius: 4px;
    font-size: 20px;
    color:#201E1E;
    font-weight:500;
}

.inst-read {
    margin: 32px 0px 32px 16px;
    color: #3E5776;
    font-size: 18px;
}

table {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000014;
    opacity: 1;
    color:#3E5776;
}

th {
    color: #526F94;
    font-size:16px;
    font-weight:500;
}

.card {
    box-shadow: 0px 3px 6px #00000029;
    border: 0.5px solid #707070;
    border-radius: 4px;
    opacity: 1;
    padding: 8px;
    margin: 48px 16px 32px 0px;
    height: 250px;
    font-size: 18px;
    color:#201E1E;
}

.scroll {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 9px;
}


/* Track */

::-webkit-scrollbar-track {
    background-color: #707070;
    border: 4px solid transparent;
    background-clip: content-box;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: transparent linear-gradient(180deg, #F65B01 0%, #FC993D 0%, #FA6868 31%, #FA6868 100%) 0% 0% no-repeat padding-box;
}

.language,
.form-check {
    margin: 24px 0px;
    color:#201E1E;
    font-size:14px;
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #F65B01;
    border: #F65B01;
}

.select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000014;
    border-radius: 4px;
}

.btn-default {
    padding: 0px 24px;
      background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-color: #F65B01;
    border-radius: 4px;
    color: white;
    font-size: 20px;
}

.langandcheckbox {
    margin-left: 16px;
}