<footer class="footer-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="{{logo_icon}}" class="logo">
                <div class="contact">
                    <img src="{{phonecall}}" class="icon">&nbsp; &nbsp;{{clientmobile}}<br>
                    <img src="{{mail}}" class="icon">&nbsp;&nbsp;{{clientemail}}
                </div><br>
                <!-- <div class="icons">
                    <img src="{{twitter2}}">&nbsp;&nbsp;
                        <img src="{{facebook2}}">&nbsp;&nbsp;
                        <img src="{{whatsapp2}}">
                </div> -->
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="courses">
                    <h6 class="widget-title">TOP SESSIONS<span></span></h6>
                    <ul class="no-bullets" *ngFor="let list of topsessions;">
                        <li (click)="mbafooter(list.ProductID)" style="cursor: pointer;">{{list.ProductName}}</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="aboutUs">
                    <h6 class="widget-title">Treta Educate<span></span></h6>
                    <ul class="no-bullets">
                        <li (click)="aboutusfooter()" style="cursor: pointer;">About Us</li>
                        <li (click)="refundfooter()" style="cursor: pointer;">Refund & Cancellation</li>
                        <li (click)="privcyfooter()" style="cursor: pointer;">Privacy</li>
                        <li (click)="termsfooter()" style="cursor: pointer;">Terms of Use</li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="subscribe">
                    <h6 class="widget-title pb-2">Subscribe<span></span></h6>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" (click)="subscribeemail()">SUBMIT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>