  * {
      font-family: 'Poppins', sans-serif;
  }
  
  .footer-1 {
      color: white;
      width: 100%;
      font-weight: 300;
      font-size: 16px;
  }
  
  .input-group-text {
      background-color: #F65B01;
      border: #F65B01;
      color: #ffffff;
      border-radius: 8px;
  }
  
  .row {
      padding-top: 96px;
  }
  
  .subscribe {
      margin-top: 64px;
  }
  
  ul a {
      color: white;
  }
  
  .logo {
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
  }
  
  ul.no-bullets {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  .form-control:focus {
      border-color: lightgray;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  
  @media only screen and (min-width: 600px) {
      .footer-1 {
          padding: 24px;
          background-image: url("src/assets/footer-1.png");
          color: white;
          width: 100%;
          font-weight: 300;
          font-size: 16px;
      }
  }
  
  @media only screen and (max-width: 600px) {
      .footer-1 {
          background-image: url("src/assets/background.png");
          text-align: center;
      }
  }