* {
    font-family: 'Poppins', sans-serif;
}

.title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}

.sub-title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.36px;
    text-align: center;
}

.dummyText {
    font-size: 16px;
    margin: 48px;
    opacity: 1;
}

.coursesdes1 {
    text-align: center;
    color: #201E1E;
    font-size: 18px;
    font-weight: 400;
}

.coursesdes2 {
    text-align: center;
    color: #201E1E;
    font-size: 18px;
    font-weight: 500;
}

.img-fluid {
    width: 100%;
}

.courses-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -32px;
}

.courses-links {
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    color: #201E1E;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

.selected-color {
    color: #FC993D;
    border-bottom-style: solid;
}

.icons {
    height: 18px;
}


/* card styles */

.card {
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.2);
}

.itcourseslist {
    margin: 32px;
}

.card-title {
    font-size: 16px;
    color: #000000;
}

.card-text {
    color: gray;
    font-size: 12px;
    width: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}


/* small devices */

@media only screen and (max-width: 600px) {
    .title {
        font-size: 16px;
    }
    .sub-title {
        font-size: 12px;
    }
    .courses-links {
        background-color: #FC993D;
        padding-left: 24px;
        padding-right: 24px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .courses-buttons {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: -96px;
    }
    .dummyText {
        font-size: 16px;
        margin: 96px;
        opacity: 1;
    }
}