<div class="">
    <app-nav-bar>
    </app-nav-bar>
    <div class="mbaskillPic">
        <div class="container-fluid">
            <section class="row no-gutter align-items-center">
                <div class="col-md-12 text-center p-0 d-flex align-items-center">
                    <img class="img-fluid position-relative mx-auto" src="{{aboutuspic}}" loading="eager">
                    <div class="w-100 position-absolute my-auto">
                        <h2 class="title">{{PageTitle}}</h2>
                        <p class="sub-title">{{PageDescription}}</p>
                    </div>
                    <div class="courses-buttons">
                        <p class="">
                            <a *ngFor="let list of courses;let i=index" [ngClass]="{'selected-color' : i==selectedIndex}" (click)="changeColor(i)" class="courses-links" (click)="coursesclick(i)" routerLinkActive="active">{{list.CourseName}}</a>
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="dummyText">
            <p class="coursesdes1">{{CourseDescription}}</p>
            <p class="coursesdes2">Invite your friends and other aspirants to take Test</p>
            <div class="text-center">
                <share-buttons [theme]="'circles-dark'" [exclude]="['xing','line','sms','linkedin','pinterest','reddit','mix','vk','telegram','messenger','copy','facebook','twitter']" [include]="['linkedin','pinterest','reddit','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','copy']"
                    [size]="1" [showText]="false" [url]="'https://treta.info'" [image]="'https://treta.info'" [description]="'Treta'" [autoSetMeta]="true"></share-buttons>
            </div>
        </div>
    </div>

    <div class="mbacourses">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3" *ngFor="let list of products;">
                    <div class="mbacourseslist">
                        <div class="card">
                            <img class="card-img-top" src="{{path}}{{list.ProductImage}}">
                            <div class="card-body">
                                <h5 class="card-title">{{list.ProductName}}
                                    <span *ngIf="list.SavedProduct == two" (click)="saveproduct(list.ProductID)" style="float: right; color:#3E5776; font-size: 12px;"><img class="card-img" style="width: 12px;height: 14px; margin-right: 4px;cursor: pointer;" src="{{notsavedproduct}}"></span>
                                    <span *ngIf="list.SavedProduct == one" (click)="unsaveproduct(list.ProductID)" style="float: right; color:#F65B01; font-size: 12px;"><img class="card-img" style="width: 12px;height: 14px; margin-right: 4px;cursor: pointer;" src="{{savedproduct}}">Saved</span></h5>
                                <p class="card-text">{{list.ShortDescription}}</p>
                                <p class="footer text-center">
                                    <a><button type="button" (click)="productid(list.ProductID)" class="btn btn-default shadow-none btn-sm mx-auto d-block" style="border: 1px solid #F65B01; color: #F65B01; border-radius: 4px; width: 100%;">
                            <span class="btn-label" style="color: black;">    
                            Read More</span><img src={{arrowwhiteright}} style="padding: 4px;background-color:#F65B01; float: right; color:white; border-radius: 4px;"></button></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>