<div class="">
    <div class="">
        <app-nav-bar></app-nav-bar>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-8 login-section-wrapper">
                    <div class="contact-wrapper my-auto">
                        <h2 class="text" style="margin-top: 24px; font-family: 'Poppins', sans-serif; font-weight:bold; font-size: 32px;letter-spacing: 2.4px; color:#1E1D1D;">Having career blues?</h2>
                        <p class="subtext" style="text-align:justify;font-size: 14px; font-family: 'Poppins', sans-serif; line-height:21px; color:#707070;">Don't have anybody with whom you can discuss and choose? Well, that's what we are here for! <br>How about talking it over the famous Ram's dosa? <br> Or while enjoying the bliss of chai with a samosa!<br> Or we could go the cliché
                            way and email us. </p>
                        <div class="contact">
                            <p> <img src="assets/icons/call-1.png" alt="logo" class="call">&nbsp;&nbsp;&nbsp;<span class="" style="font-size: 18px; font-family: 'Poppins', sans-serif;color:#1E1D1D;">{{mobile_icon}}</span><br>
                                <img src="assets/icons/email-fill-1.png" alt="logo" class="emailfill">&nbsp; &nbsp;<span class="" style="font-size: 18px; font-family: 'Poppins', sans-serif;color:#1E1D1D;">{{clientemail}}</span><br>
                                <i class="fa fa-address-card" style="color:#F65B01;font-size: 16px;"></i>&nbsp; &nbsp;<span class="" style="font-size: 18px; font-family: 'Poppins', sans-serif; color:#1E1D1D;">{{clientaddress}}</span>
                            </p>
                        </div>
                        <div class="contact-form">
                            <form ngNativeValidate [formGroup]="contactUsForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" formControlName="fullname" placeholder="Your Name" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                                        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                            <div *ngIf="f.fullname.errors.required">{{usernameValidation}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" formControlName="email" class="form-control" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                            <div *ngIf="f.email.errors.email">{{emailpatternValidation}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" formControlName="mobile" maxlength="10" class="form-control" placeholder="Your Phone Number" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                        <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f.mobile.errors.required">{{mobilenoValidation}}</div>
                                            <div *ngIf="f.mobile.errors.pattern">{{mobilenodigitsValidation}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea class="form-control" id="message" formControlName="message" placeholder="Your concern" rows="4" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                            <div *ngIf="f.message.errors.required">{{messagevalidation}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default btn-sm btn-block">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="emailpic">
                        <img src="{{contactpic}}" class="contact-img" style="width: 434px;
                    height: 316px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>