/* right image to display  */


/* * {
    font-family: 'Poppins', sans-serif;
} */

.contact-wrapper {
    margin: 0 auto;
    width: 65%;
}

.btn-default {
    background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-color: #F65B01;
    border-radius: 8px;
    color: white;
    height: 45px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    font-family: 'Poppins', sans-serif;
}

.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.icons {
    /* position: absolute;
    bottom: 0;
    color: #5587F5; */
    padding-top: 164px;
}

@media only screen and (max-width: 600px) {
    .contact-img {
        width: 100px;
        height: 100px;
    }
}