<div class="">
    <div class="">
        <app-nav-bar>
        </app-nav-bar>
    </div>
    <div class="aboutUsPic" *ngFor="let list of aboutuslist;">
        <div class="container-fluid">
            <section class="row no-gutter align-items-center">
                <div class="col-lg-12 text-center p-0 d-flex align-items-center">
                    <img class="img-fluid position-relative mx-auto" src="{{aboutuspic}}" alt="">
                    <p class="title w-100 position-absolute my-auto">{{list.PageTitle}}</p>
                </div>
            </section>
        </div>
        <div class="dummyText">
            <div class="" [innerHTML]="list.PageDescription | linebreak"></div>
            <!-- {{list.PageDescription}}  -->
        </div>
        <div class="text-center">
            <img src="{{arrowright}}" alt="logo" class="arrowright">
        </div>

        <!-- Testimonials -->
        <div class="container-fluid text-align:center" id="testimonials">
            <div class="testimonials">
                <div id="myCarouseltestimonial" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }}" *ngFor="let chunkProducts of testimonialslistloop;let i =index;">
                            <div class="row">
                                <div class="col-md-4" *ngFor="let slider of chunkProducts;let i =index;">
                                    <div class="testmonial">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title1  text-center">{{slider.PostedBy}}</h5>
                                                <div class="ratings">
                                                    <div *ngIf="0 === i % 2" class="stars text-center"> <img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}></div>
                                                    <div *ngIf="1 === i % 2" class="stars text-center"> <img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{star}}></div>
                                                </div><br>
                                                <p class="" style="font-size: 12px;height: 108px; overflow: hidden;">
                                                    {{slider.Testimonial}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarouseltestimonial" role="button" data-slide="prev">
                        <img src="{{arrowleft}}" class="arrow">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarouseltestimonial" role="button" data-slide="next">
                        <img src="{{arrowright}}" class="arrow">
                        <span class="sr-only">Next</span></a>
                </div>
            </div>
        </div>


    </div>
</div>
<app-spinner></app-spinner>
<!-- <div class="recentBlogs">
            <h5 class="recentblog">Recent Blog's !</h5>
            <div class="align-items-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }}" *ngFor="let chunkProducts of aboutusList ;let i =index;">
                            <div class="row">
                                <div class="col-md-3" *ngFor="let slider of chunkProducts;">
                                    <div class="card">
                                        <img class="card-img-top" src="{{blogpath}}{{slider.BlogImage}}" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{slider.Title}}</h5>
                                            <p class="card-text">{{slider.Description}}</p>
                                            <div class="footer">
                                                <div class="row">
                                                    <span class="name">{{slider.PostedBy}}</span>&nbsp;&nbsp;<span class="date">{{slider.BlogDate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <img src="{{arrowleft}}" class="arrow">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <img src="{{arrowright}}" class="arrow">
                        <span class="sr-only">Next</span></a>
                </div>
            </div>
        </div> -->