.card-header-title {
    font-size: 10px;
    color: #F65B01;
}

.title {
    font-weight: 600;
    text-decoration: underline;
    font-size: 30px;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    letter-spacing: 0.9px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.arrowright {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: #00000029;
    border-radius: 4px;
    margin: 32px;
    width: 65px;
    height: 51px;
}

.card-title {
    height: 46px;
    overflow: hidden;
    color: #201E1E;
    font-weight: medium;
    font-size: 14px;
}

.card-text {
    height: 96px;
    overflow: hidden;
    color: #707070;
    font-size: 14px;
}

.dummyText {
    font-size: 21px;
    margin: 48px 72px;
    color: #707070;
    opacity: 1;
    line-height: 44px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

.recentblog {
    color: #F65B01;
    margin: 40px;
    padding: 8px;
    font-size: 30px;
    text-align: center;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}


/* product carousal sliding */

.carousel-control-next {
    right: 0%;
    margin-left: 0px;
    margin-right: 0px;
}

.carousel-control-prev {
    left: 0%;
}


/* .carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgb(243, 67, 67);
    border-radius: 50%;
    padding: 16px;
} */

.arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}


/* card styles */

#myCarousel {
    width: 100%;
    margin: auto;
}

.recentBlogs {
    background-color: #C1CFD933;
    width: 100%;
    padding-left: 24px;
}

.card {
    border-radius: 8px;
    margin: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border: 0.800000011920929px solid #707070AD;
}

.card-img-top {
    height: 180px;
}

.name {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
}

.date {
    font-size: 12px;
    color: #707070;
    margin-top: 2px;
    font-family: 'Poppins', sans-serif;
}


/* testimonials */

.testimonials {
    margin-bottom: 24px;
}

.arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.fa-star {
    color: rgb(204, 204, 117);
}

.testmonial>.card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    border-color: #F65B01;
}