* {
    font-family: 'Poppins', sans-serif;
}

.img-fluid {
    width: 100%;
}

.img-top {
    position: relative;
    text-align: center;
}

.text-top {
    position: absolute;
    top: 0px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: #3E5776;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.courses-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -32px;
}

.courses-links {
    background-color: white;
    padding-left: 12px;
    padding-right: 12px;
    color: black;
}

.btn-link {
    border-color: #F65B01;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #00000029;
    color: #F65B01;
    font-size: 16px;
    padding: 0px 24px;
}

.btn-default {
    border-color: #F65B01;
    background: #F65B01;
    border-radius: 4px;
    box-shadow: 0px 0px 6px #00000029;
    color: #ffffff;
    font-size: 16px;
    padding: 0px 24px;
    margin-top: 8px;
}

.icons {
    height: 24px;
}


/* card styles */

.header {
    background: #201E1E;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    height: 64px;
}

.card {
    border-radius: 4px;
    box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.2);
}

.mocktestlist,
.tests {
    margin: 48px 16px;
}

.card-title {
    font-size: 12px;
    color: #707070;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-text {
    font-size: 10px;
}

.title {
    font-size: 20px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
}

.title1 {
    font-size: 35px;
    letter-spacing: 0.36px;
    color: #201E1E;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
}

.sub-title {
    color: #201E1E;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footer {
    height: 64px;
    background-color: rgba(0, 0, 0, .03);
}

.taketest,
.resumetest,
.viewreport {
    margin-top: 24px;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 16px;
        color: #707070;
    }
    .sub-title {
        font-size: 12px;
        color: #201E1E;
    }
    .img-fluid {
        height: 225px;
    }
    .header {
        background: #201E1E;
        border-radius: 4px;
        color: white;
        font-size: 16px;
    }
}