<div class="">
    <app-nav-bar>
    </app-nav-bar>
    <div class="mbaskillPic">
        <div class="container-fluid">
            <section class="row">
                <div class="col-lg-12  p-0 d-flex align-items-center img-top">
                    <img class="img-fluid position-relative mx-auto" src="assets/mock-test-list-1.jpeg" alt="">
                    <div class="text-top">
                        <p class="title">{{CourseName}} SKILL COURSES</p>
                    </div>
                    <div class="centered">
                        <h2 class="title1">{{productname}}</h2>
                        <hr class="" style="border-top: 1px solid black;"><br>
                        <p class="sub-title">Invite your friends and other aspirants to take Test</p>
                    </div>
                    <!-- <div class="courses-buttons">
                        <p class="">
                            <a class="courses-links"> <img src="assets/icons/gmail.png" class="icons"></a>
                            <a class="courses-links"><img src="assets/icons/whatsapp2.png" class="icons"></a>
                        </p>
                    </div> -->

                </div>
            </section>

            <div class="mocktestlist">
                <div class="row">
                    <div class="col-md-3 align-self-center" *ngFor="let test of mocktests;">
                        <div class="tests">
                            <div class="card text-center">
                                <div class="header">
                                    <p style="margin-top: 4px;">{{test.MockTestName}}</p>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{test.TestDescription}}</h5>
                                </div>
                                <div class="footer">
                                    <div class="taketest" *ngIf="test.TakeTest ==one">
                                        <button type="button shadow-none" (click)="mocktestid(test.MockTestID, test.TotalQuestions, test.UserAttempt)" class="btn btn-link " style="text-decoration: none;">Take Test</button>
                                    </div>


                                    <div class="resumetest" *ngIf="test.ResumeTest ==one && test.ViewReport !=one">
                                        <button type="button shadow-none" (click)="mocktestid1(test.MockTestID, test.UserAttempt)" class="btn btn-link " style="text-decoration: none;">Resume Test</button>
                                    </div>


                                    <div class="" *ngIf="test.ViewReport ==one && test.ResumeTest==one">
                                        <button type="button shadow-none" (click)="mocktestid2(test.MockTestID)" class="btn btn-link " style="text-decoration: none;">View Report</button>
                                    </div>
                                    <div class="" style="margin-top: 8px;" *ngIf="test.ResumeTest ==one && test.ViewReport==one">
                                        <button type="button shadow-none" (click)="mocktestid1(test.MockTestID, test.UserAttempt)" class="btn btn-link " style="text-decoration: none;">Resume Test</button>
                                    </div>


                                    <div class="viewreport" *ngIf="test.ViewReport ==one && test.RetakeTest!=one && test.ResumeTest !=one">
                                        <button type="button shadow-none" (click)="mocktestid2(test.MockTestID)" class="btn btn-link " style="text-decoration: none;">View Report</button>
                                    </div>


                                    <div class="" *ngIf="test.ViewReport ==one && test.RetakeTest==one && test.ResumeTest !=one">
                                        <button type="button shadow-none" (click)="mocktestid2(test.MockTestID) " class="btn btn-link " style="text-decoration: none; ">View Report</button>
                                    </div>
                                    <div class=" " *ngIf="test.RetakeTest==one">
                                        <button type="button shadow-none" class="btn btn-default" (click)="mocktestid3(test.MockTestID, test.TotalQuestions, test.UserAttempt)" style="text-decoration: none;">Retake Test</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<app-spinner></app-spinner>