<app-nav-bar>
</app-nav-bar>
<hr>
<div class="terms" *ngFor="let list of refundcancellation;">
    <h1 class="title">{{list.PageTitle}}</h1>
    <!-- <p class="desc">{{list.PageDescription}}</p> -->
    <p class="desc" [innerHTML]="list.PageDescription | linebreak"></p>
</div>

<app-spinner></app-spinner>