/* Left image to display */

.login-img {
    width: 100%;
    height: 100vh;
    display: block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
}

.login-wrapper {
    margin: 0 auto;
    width: 65%;
}

.logo {
    margin-top: 24px;
    opacity: 1;
}

.title,
.modal-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #201E1E;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.titlesub {
    line-height: 14px;
    font-size: 10px;
    color: #707070;
    font-family: 'Open Sans', sans-serif;
}

.form-group {
    padding-top: 18px;
}

.input-group {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.form-control {
    background: #F5F5F5;
    font-family: 'Open Sans', sans-serif;
}

.input-group-text,
.input-group-prepend {
    background: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0px;
    opacity: 1;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label,
.forgot-password,
.dummytext {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    cursor: pointer;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* Toogle switch color */

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: #F65B01;
    border: #F65B01;
}

.btn-default {
    background-color: #F65B01;
    border-color: #F65B01;
    color: white;
    height: 33px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.signIn {
    margin-top: 18px;
    color: #707070;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.signuplink {
    color: #F65B01;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.icons {
    cursor: pointer;
}

.forgotsubmitbutton {
    background: #F65B01 0% 0% no-repeat padding-box;
    border-color: #F65B01;
    color: #FFFFFF;
    display: block;
}

.forgotbuttons {
    margin: 16px 4px;
    font-family: 'Poppins', sans-serif;
}

.dummytext1 {
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .login-img {
        width: 100%;
        height: 150px;
        display: block;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0px 4px 4px 0px;
    }
    .custom-control-label,
    .forgot-password {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        color: #707070;
        cursor: pointer;
    }
    .title {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #201E1E;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
}


/*Horizontal line with words in the middle */

.line {
    margin-top: 48px;
}

.line-center {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    font-size: 16px;
    color: #707070;
    font-weight: 500;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.text-line {
    text-align: center;
    position: relative;
    z-index: 2;
}

.text-line:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px #707070;
    z-index: -1;
}