<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0">
            <img src="{{left_img}}" alt="login-left-image" class="login-img">
        </div>
        <div class="col-sm-12 col-md-6 login-section-wrapper">
            <div class="brand-wrapper">
                <img src="{{logoIcon}}" alt="logo" class="logo mx-auto d-block">
            </div>
            <div class="login-wrapper my-auto">
                <h6 class="title text-center">Hey ,Welcome Back !</h6>
                <p class="titlesub text-center">To login please enter your id and password</p>
                <div class="login-form">
                    <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{emailIcon}}" class="">
                                    </span>
                                </div>
                                <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                    <div *ngIf="f.email.errors.pattern">{{emailpatternValidation}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{passwordIcon}}" class="">
                                    </span>
                                </div>
                                <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #F5F5F5;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }"
                                            (click)="toggleFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">{{passwordValidation}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="bottom-action clearfix">
                            <!-- Default switch -->
                            <div class="custom-control custom-switch float-left">
                                <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
                                <label class="custom-control-label" for="customSwitches">Remember me</label>
                            </div>
                            <a data-toggle="modal" data-target=".forgot-modal-sm" class="forgot-password float-right">Forgot Password ?</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-sm btn-block ">Log in</button>
                        </div>
                    </form>
                    <div class="donthaveAccount">
                        <p class="signIn text-center">Don't have an account ?
                            <a routerLink="/register">
                                <span class="signuplink">Sign Up</span>
                            </a>
                        </p>
                    </div>
                    <div class="line">
                        <h6 class="text-line"><span class="line-center">Or</span></h6>
                    </div>
                    <p class="dummytext text-center">Sign in With</p>
                    <div class="text-center">
                        <img src="{{googleIcon}}" (click)="socialSignIn('google')" class="icons" style="cursor: pointer;">
                        <img src="{{facebookIcon}}" (click)="socialSignIn('facebook')" class="icons" style="cursor: pointer;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- forgotpssword Modal -->
<div class="modal fade forgot-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form ngNativeValidate [formGroup]="forgotForm" (ngSubmit)="onforgotSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="forgotModelLabel">Forgot Password</h5>
                    <button type="button" class="close" #closeforgotpasswordmodel data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <h6 class="dummytext1">Enter Email</h6>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': forgotsubmitted && f1.email.errors }" />
                            <div *ngIf="forgotsubmitted && f1.email.errors" class="invalid-feedback">
                                <div *ngIf="f1.email.errors.required">{{emailValidation}}</div>
                                <div *ngIf="f1.email.errors.pattern">{{emailpatternValidation}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row forgotbuttons">
                    <div class="col">
                        <button type="button" class="btn btn-secondary cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-secondary forgotsubmitbutton btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<app-spinner></app-spinner>