<app-nav-bar>
</app-nav-bar>
<hr>
<div class="terms" *ngFor="let list of privacypolicy;">
    <h2 class="title">{{list.PageTitle}}</h2>
    <!-- <p class="desc">{{list.PageDescription}}</p> -->
    <h6 class="desc" [innerHTML]="list.PageDescription | linebreak"></h6>
</div>

<app-spinner></app-spinner>