/* Left image to display */

.resetpassword-img {
    width: 100%;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
}

.resetpassword-wrapper {
    margin: 0 auto;
    width: 65%;
}

.logo {
    margin-top: 24px;
    width: 58px;
    height: 60px;
    opacity: 1;
}

.title {
    font-size: 20px;
    line-height: 24px;
}

.form-group {
    padding-top: 16px;
}

.input-group {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.input-group-text {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.form-control {
    background: #F5F5F5;
}

.input-group-prepend {
    background: #FFFFFF;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-color: #F65B01;
    color: white;
    height: 33px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width: 600px) {
    .resetpassword-img {
        width: 100%;
        height: 150px;
        display: block;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0px 4px 4px 0px;
    }
    .title {
        font-size: 16px;
        line-height: 24px;
        color: #201E1E;
    }
}