<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 px-0">
            <img src="{{left_img}}" alt="register image" class="resetpassword-img">
        </div>
        <div class="col-sm-12 col-md-6 register-section-wrapper">
            <div class="brand-wrapper">
                <img src="{{logoIcon}}" alt="logo" class="logo mx-auto d-block">
            </div>
            <div class="resetpassword-wrapper my-auto">
                <h6 class="title text-center">Reset Treta Password</h6>
                <div class="resetpassword-form">
                    <form ngNativeValidate [formGroup]="resetForm" (ngSubmit)="onresetSubmit()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{passwordIcon}}" class="icons">
                                    </span>
                                </div>
                                <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Reset Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #F5F5F5;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }"
                                            (click)="toggleFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">{{passwordValidation}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{passwordIcon}}" class="icons">
                                    </span>
                                </div>
                                <input [type]="confirm_text_password ? 'text' : 'password'" formControlName="confirm_password" class="form-control border-right-0" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #F5F5F5;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !confirm_text_password,'fa-eye': confirm_text_password }"
                                            (click)="toggleConfirmFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_password.errors.required">
                                        {{confirmpasswordValidation}}</div>
                                    <div *ngIf="f.confirm_password.errors.Passwordmatcher">
                                        {{confirmpasswordvalidatorValidation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-sm btn-block">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>