*{
    font-family: 'Poppins', sans-serif;
}
.userlist {
    margin: 32px 0px;
}
.coldetails-list{
    padding: 0px;
}

.title {
    background-color: #F3F3F3;
    margin-top: 24px;
    padding: 4px 0px;
    border-radius: 4px;
    font-weight:500;
    font-size: 16px;
}

.title3 {
    background: #FA6868;
    width: 82px;
    height: 58px;
    cursor: pointer;
    border-radius: 8px;
}

.text {
    color: white;
    opacity: 1;
    cursor: pointer;
    font-size:12px;
}

.inline {
    margin: 16px 0px;
    font-size: 14px;
    color:#1E1D1D;
    font-weight:500;
}

.inline1 {
    margin: 16px 0px;
    font-size: 14px;
    color:#6F6F6F;
}
.title1{
    margin-top:32px;
    font-size:14px;
    color:#1E1D1D;
    font-weight:500;
}
.btn-default {
    background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 8px;
    border-color: #F65B01;
    color: white;
    font-size:24px;
}
.form-control{
   font-size:14px;
   color:#201E1E;
}
.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}