<app-nav-bar>
</app-nav-bar>
<div class="profiledetils">
    <div class="row userlist">
        <div class="col-md-3">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9">
            <div class="details">
                <div class="row userlist">
                    <div class=" col-2 coldetails-list">
                        <div class="col" style="padding:0px">
                            <div class="inline">User id</div>
                            <div class="inline" *ngIf="username!=null">Name</div>
                            <div class="inline">E mail id</div>
                            <div class="inline" *ngIf="mobileno!=null">Mobile number</div>
                        </div>
                    </div>
                    <div class="col-8 productname">
                        <div class="col">
                            <div class="inline1">{{userid}}</div>
                            <div class="inline1" *ngIf="username!=null">{{username}}</div>
                            <div class="inline1">{{email}}</div>
                            <div class="inline1" *ngIf="mobileno!=null">+91-{{mobileno}}</div>
                        </div>
                    </div>
                    <div class="col-2 editbutton">
                        <a [routerLink]="['/update']"> <span class="edit" style="float: right; padding-right: 24px;">
                                <img src="./assets/icons/edit.png" alt="logo" class="edit width: 27px;
                            height: 26px;"></span></a>
                    </div>
                </div>
                <div class="educationaldetails">
                    <p class="title my-auto">Educational Details</p>
                    <p class="title1">Education</p>
                    <div class="educationform">
                        <div class="educationdetailslist" *ngIf="educationDetailslength>0">
                            <div class="" *ngFor="let usereddetails of usereducationdetails;">
                                <div class="row">
                                    <div class="col-1">
                                        <div class="form-group">
                                            <div class="title1" style="padding:8px;">UG</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.UGDegreeName}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.UGSpecialization}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.UGStartYear}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.UGEndYear}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <div class="form-group">
                                            <div class="title1" style="padding:8px;">PG</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.PGDegreeName}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.PGSpecialization}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.PGStartYear}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group form-group">
                                            <input type="text" value="{{usereddetails.PGEndYear}}" class="form-control" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <form [formGroup]="educationForm" (ngSubmit)="eduSubmit()" class="" style="margin-top: 32px;">
                            <div class="row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <div class="title1" style="padding:8px;">UG</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <select formControlName="ugdegree" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ugdegree.errors }" id="exampleFormControlSelect1">
                                            <option value="" selected disabled hidden>Degree</option>
                                            <option *ngFor="let list of ugprofiledegreelst" [value]="list.DegreeID">
                                                {{list.DegreeName}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.ugdegree.errors" class="invalid-feedback">
                                            <div *ngIf="f.ugdegree.errors.required">{{degreeValidation}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" formControlName="ugspecilization" class="form-control" placeholder="Specialization" [ngClass]="{ 'is-invalid': submitted && f.ugspecilization.errors }" />
                                        <div *ngIf="submitted && f.ugspecilization.errors" class="invalid-feedback">
                                            <div *ngIf="f.ugspecilization.errors.required">{{specilizationValidation}}</div>
                                            <div *ngIf="f.ugspecilization.errors.pattern">{{specilizationpatternvalidation}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select formControlName="ugstartyear" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ugstartyear.errors }">
                                            <option value="" selected disabled hidden>Start Year</option>
                                            <option *ngFor="let list of startYear" [value]="list">
                                               <span>{{list}}</span></option>
                                        </select>
                                        <div *ngIf="submitted && f.ugstartyear.errors" class="invalid-feedback">
                                            <div *ngIf="f.ugstartyear.errors.required">{{startyearValidation}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select formControlName="ugendyear" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ugendyear.errors }">
                                            <option value="" selected disabled hidden>End Year</option>
                                            <option *ngFor="let list of endYear" [value]="list">
                                                {{list}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.ugendyear.errors" class="invalid-feedback">
                                            <div *ngIf="f.ugendyear.errors.required">{{endyearValidation}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-1">
                                    <div class="form-group">
                                        <div class="title1" style="padding:8px;">PG</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <select formControlName="pgdegree" class="form-control">
                                            <option value="" selected disabled hidden>Degree</option>
                                            <option *ngFor="let list of pgprofiledegreelst" [value]="list.DegreeID">
                                                {{list.DegreeName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="text" formControlName="pgspecilization" class="form-control" placeholder="Specialization" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select formControlName="pgstartyear" class="form-control">
                                            <option value="" selected disabled hidden>Start Year</option>
                                            <option *ngFor="let list of startYear;" [value]="list">
                                                {{list}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <select formControlName="pgendyear" class="form-control">
                                            <option value="" selected disabled hidden>End Year</option>
                                            <option *ngFor="let list of endYear" [value]="list">
                                                {{list}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <p class="title1" style="margin-top: 32px;">Resume</p>
                            <p class="">
                                <label for="getresumeFile" class="title3 text-center"><img src="{{notsavedproduct}}"
                                        alt="logo" class="edit"><br><span class="text">Add</span></label>
                                <input type='file' (change)="onresumeSelectFile($event)" id="getresumeFile" accept=".pdf,.doc,.docx" style="display:none" />
                                <a download href="{{FilePath}}{{ResumeFileName}}" target="_blank"><span *ngIf="ResumeFileName" style="color: #FA6868; margin-left: 4px;">My Resume</span></a>
                            </p>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-block height: 45px;">SAVE
                                    CHANGES</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>