<div class="overviewreport">
    <div class="card">
        <div class="row">
            <div class="col-2">
                <img src="{{testimonialsright}}" (click)="backarrowtoprojects()" class="" height="48px" width="48px" style="margin: 16px; cursor: pointer;">
            </div>
              <div class="col-10">
                <a class="logo-home" routerLink="/home"> <img src="{{logoIcon}}" alt="logo" style="float:right" class="logo"></a>
            </div>
        </div>
    </div>
    <div class="Reports">
        <p class="title my-auto"><span class="" style="color: #F65B01; text-decoration: underline;">Overview</span> &nbsp; &nbsp; <span class="border"></span>&nbsp;&nbsp;
            <span class="" style="cursor: pointer; font-size:18px;" (click)="overallperformanceclick()">Overall Performance</span> &nbsp; &nbsp; <span class="border"></span>&nbsp;&nbsp;
            <a download href="{{downloadoverviewreport}}" target="_blank"><span class="" style="float: right;  cursor: pointer;">Download</span></a>
        </p>

        <div class="userdetails">
            <div class="row">
                <div class="icon">
                    <img src="{{usernameIcon}}" alt="logo" class="profile">
                </div>
                <div class="">
                    <div class="inline">Name :{{name}}</div>
                    <div class="inline1">Email: {{email}}</div>
                </div>
            </div>
        </div>

        <div class="result" *ngFor="let rep of report">
            <div class="card card1">
                <div class="">
                    <div class="inline2">Attempt: {{rep.Attempt}} <span class="" (click)="questionsclick(rep.Attempt)" style="float: right; cursor: pointer; color: #F65B01;">Questions</span></div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reporttick}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Marks Scored</div>
                                <div class="inline1">{{rep.TotalScore}}/{{rep.TotalQuestions}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reportstar}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Correct Answers</div>
                                <div class="inline1">{{rep.CorrectAnswer}}/{{rep.TotalAttempted}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reporttime}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Time Spent</div>
                                <div class="inline1">{{rep.TimeSpent}}/{{rep.TotalTime}}m</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reportbluetick}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Total Questions</div>
                                <div class="inline1">{{rep.TotalQuestions}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>