*{
    font-family: 'Poppins', sans-serif;
}

card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #C1CFD933;
    opacity: 1;
    width:100%;
}

.Reports {
    margin-top: 32px;
}

.border {
    border-right: 1px dashed #F65B01;
    font-size:18px;
}

.userdetails {
    margin: 32px;
}

.card1 {
    margin: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #C1CFD933;
    opacity: 1;
}

.title {
    background-color: #F3F3F3;
    padding: 2px 32px 2px 16px;
    border-radius: 4px;
    font-size: 18px;
    font-weight:400;
}

.icon {
    margin: 16px 8px 16px 16px;
}


.inline {
    font-size: 18px;
    margin: 8px;
    color:#201E1E;
}

.inline1 {
    font-size: 18px;
    margin: 8px;
    color: #526F94;
}

.inline2 {
    font-size: 18px;
    margin: 16px;
    color: #526F94;
}