<app-nav-bar>
</app-nav-bar>
<div class="all">
    <div class="row privacy">
        <div class="col-md-3 col-sm-12">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="privacy" *ngFor="let list of privacylist;">
                <h1 class="title">{{list.PageTitle}}</h1>
                <!-- <p class="desc">{{list.PageDescription}}</p> -->
                <p class="desc" [innerHTML]="list.PageDescription | linebreak"></p>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>