*{
  font-family: 'Poppins', sans-serif;  
}

.privacy {
    margin: 32px 16px;
}

.title {
    margin-bottom: 16px;
    color: #F65B01;
    font-size: 20px;
    font-weight:500;
}

.desc{
     color: #000000;
    font-size: 16px;
    text-align:justify;
}