<app-nav-bar>
</app-nav-bar>
<div class="all">
    <div class="row allcourses">
        <div class="col-md-3 col-sm-12">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="allcourses">
                <h2 class="title">Saved Courses</h2>
                <div class="row">
                    <div class="col-md-6" *ngFor="let saved of SavedCourses;">
                        <div class="card" (click)="savedcoursesclick(saved.ProductID)">
                            <div class="row">
                                <div class="col">
                                    <img class="card-img-top" src="{{ProductImagePath}}{{saved.ProductImage}}">
                                </div>
                                <div class="col" style="margin: 4px;">
                                    <div class="inline">{{saved.ProductName}}</div>
                                    <div class="inline1" style="font-size: 12px; color: #868686;">{{saved.ShortDescription}}</div>
                                    <span style="position:absolute;bottom:0;right:16px; text-align: end;padding-top: 8px; color:#F65B01; font-size: 11px;">
                                        <img class="card-img" style="width: 12px;height: 14px; margin-right: 4px;" src="{{savedproduct}}" alt="Card image cap">saved</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center" style="margin-top: 32px; color: black; font-size: 18px; font-weight: 500;" *ngIf="message">{{message}}</div>

            </div>
        </div>
    </div>

    <app-spinner></app-spinner>