*{
font-family: 'Poppins', sans-serif;
}

.allcourses {
    margin: 32px 16px;
}

.title {
    margin-bottom: 16px;
    color: #F65B01;
    font-size: 20px;
    font-weight: 500;
}

.inline {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.inline1 {
    height: 72px;
    overflow: hidden;
    font-size: 12px;
    color:#868686;
}
.card-img-top {
    height: 154px;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 27px #7676761A;
    border-radius: 6px;
    margin: 32px 0px;
    height: 156px;
    cursor: pointer;
}