/* productSectiontopbar */

* {
    font-family: 'Open Sans', sans-serif;
}

.topbar {
    /* background-color: rgb(245, 99, 99); */
    /* background-image: url("./../assets/topbar-image-1.png"); */
    color: white;
    height: 658px;
    width: 100%;
}

.title {
    margin-top: 48px;
    font-size: 32px;
    margin-bottom: 48px;
    padding: 48px;
    color: #151D41;
}

.title1 {
    font-size: 45px;
    margin-bottom: 48px;
    color: #151D41;
    font-weight: 600;
    /* font-family: normal normal 600 45px/50px Josefin Sans; */
}

.title2 {
    font-size: 45px;
    margin-bottom: 48px;
    color: #151D41;
    font-weight: 500;
}

.btn-label {
    padding-right: 32px;
}

.product,
.testmonial {
    margin: 32px;
}

.sessions {
    margin: 16px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {}


/* card styles */

.card {
    border-radius: 8px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-box-shadow: none;
    box-shadow: 1px 1px 10px 5px rgba(1, 1, 1, 0.2);
}

.card-title {
    color: #000000;
    letter-spacing: 1.8px;
    opacity: 1;
}

.card-text {
    color: #707070;
}

.logo {
    margin-top: 8px;
}

.card-title1 {
    letter-spacing: 0.9px;
    color: #000000;
    opacity: 1;
    font-size: 18px;
}

.service {
    height: 344px;
    overflow: hidden;
}

.featureicons {
    margin: 8px;
    height: 60px;
    width: 60px;
}


/* subscribe */

.homestats {
    margin-bottom: 48px;
}

.stats {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 24px #79737021;
    border-radius: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 16px;
}


/* testimonials */

.arrow {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.fa-star {
    color: rgb(204, 204, 117);
}

.testmonial>.card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    border-color: #F65B01;
}

.product>.card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.product>.card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}