<!-- navbar section -->
<div class="productSectiontopbar">
    <div class="topbar" style="background-image: url(assets/topbar-image-1.png);">
        <app-nav-bar></app-nav-bar>
        <div class="container">
            <!-- top section -->
            <div class="productSection-wrapper">
                <h2 class="" style="margin-top: 40px; font-size: 40px;">services we offer</h2>
                <h3 class="" style="font-size:14px">Get Plus subcription and access unlimited live and mock interviews.
                </h3>
                <button type="button" (click)="getstartedclick()" class="btn btn-default shadow-none btn-sm" style="border-color: white; color: white; border-radius: 16px;">
                    <span class="btn-label">
                        Get Started</span><img src="{{arrowwhiteright}}" class="arrowright"></button>
            </div>
        </div>
    </div>
    <!-- products section -->

    <div class="products">
        <h1 class="title1 text-center" style="margin:96px">Products</h1>
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let chunkProducts of productData;let i =index;">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let slider of chunkProducts;">
                                <div class="product">
                                    <div class="card" style="margin: 16px;">
                                        <img class="card-img-top" src="{{path}}{{slider.ProductImage}}" loading="eager">
                                        <div class="card-body">
                                            <h5 class="card-title">{{slider.ProductName}}
                                                <span *ngIf="slider.SavedProduct == two" (click)="saveproduct(slider.ProductID)" style="float: right; color:#3E5776; font-size: 12px;"><img
                                                        class="card-img"
                                                        style="width: 12px;height: 14px; margin-right: 4px;cursor: pointer;"
                                                        src="{{notsavedproduct}}"></span>
                                                <span *ngIf="slider.SavedProduct == one" (click)="unsaveproduct(slider.ProductID)" style="float: right; color:#F65B01; font-size: 12px;"><img
                                                        class="card-img"
                                                        style="width: 12px;height: 14px; margin-right: 4px;cursor: pointer;"
                                                        src="{{savedproduct}}">Saved</span>
                                            </h5>
                                            <p class="card-text" style="width:auto; overflow: hidden;display: -webkit-box;-webkit-line-clamp: 3;
                                            -webkit-box-orient: vertical;text-overflow: ellipsis;">
                                                {{slider.ShortDescription}}</p>
                                            <p class="footer text-center"> <button type="button" (click)="productid(slider.ProductID)" class="btn btn-default shadow-none btn-sm mx-auto d-block" style="border: 1px solid #3E5776; color: #242626; border-radius: 4px; width: 100%;">
                                                    <span class="btn-label" style="color: black;">
                                                        Read More</span><img src={{arrowwhiteright}}
                                                        style="padding: 4px;background-color:#3E5776; float: right; color:white; border-radius: 4px;" loading="eager"></button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span> <img src="{{leftarrowcarousal}}" class="arrowright" loading="eager"> </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span> <img src="{{rightarrowcarousal}}" class="arrowright" style="float: right;" loading="eager"> </span>
                    <span class="sr-only">Next</span></a>
            </div>
        </div>
    </div>

    <!-- services section -->
    <div class="container">
        <div class="">
            <h1 class="title1 text-center" style="margin: 64px;"> Features</h1>
            <div class="row">
                <div class="col-md-3" *ngFor="let list of featureslist;">
                    <div class="services">
                        <div class="card service">
                            <img src="{{featurespath}}{{list.FeatureImage}}" class="featureicons mx-auto d-block" loading="eager">
                            <div class="card-body">
                                <h3 class="card-title1 text-center">{{list.Title}}</h3>
                                <p class="card-text text-center">{{list.Description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Sessions -->
    <div class="topsessions">
        <h1 class="title1 text-center" style="margin:96px;">Top Sessions</h1>
        <div class="container">
            <div id="myCarouselsessions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }} m-t-0" *ngFor="let chunkProducts of sessionsData;let i =index;">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let slider of chunkProducts;">
                                <div class="sessions">
                                    <div class="card">
                                        <img class="card-img-top" src="{{path}}{{slider.ProductImage}}" loading="eager">
                                        <div class="card-body">
                                            <h5 class="card-title1">{{slider.ProductName}}</h5>
                                            <p class="card-text1" style="font-size: 12px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;">
                                                {{slider.ShortDescription}}</p>
                                            <p class=""> <button type="button" (click)="productid(slider.ProductID)" class="btn btn-dark shadow-none btn-sm mx-auto d-block" style="border-radius: 4px; width: 100%;">
                                                    <span class="btn-label" style="color: white;">
                                                        Read More</span></button></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarouselsessions" role="button" data-slide="prev">
                    <span> <img src="{{sessionsleftarrow}}" class="arrowright"> </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarouselsessions" role="button" data-slide="next">
                    <span> <img src="{{sessionsrightarrow}}" class="arrowright" style="float: right;"> </span>
                    <span class="sr-only">Next</span></a>
            </div>
        </div>
    </div>

    <!-- How we work -->
    <div class="container">
        <div class="howwework">
            <h1 class="title1 text-center" style="margin:96px;">How We Work ?</h1>
            <div class="row">
                <div class="col-md-4 col-sm-12" *ngFor="let list of howweworklist;">
                    <img src="{{howweworkimagepath}}{{list.ImageName}}" class="logo mx-auto d-block" loading="eager"><br>
                    <h6 class="card-title1 text-center" style="font-weight:500;">{{list.Title}}</h6>
                    <p class="card-text1 text-center" style="font-size: 14px;color: #707070;">{{list.Description}}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- subscription -->
    <!-- <div class="container-fluid">
        <div class="subscription">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 subscription-wrapper">
                        <div class="subscribe-wrapper my-auto">
                            <h2 class="" style="margin-top: 32px;letter-spacing: 0.18px;">One Subscription, Gauranted
                            </h2>
                            <p class="" style="font-size: small; color:#707070;">live classes, mock test, videos all in one pack</p>
                            <button type="button" (click)="subscribe()" class="btn btn-default shadow-none" style="background-color: #F65B01;">
                                <span class="btn-label"
                                    style="text-align: center; color: white;">Subscribe</span></button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 subscription-wrapper">
                        <div class="mobile-click">
                            <img src="{{subscribe1}}" class="subcription-click" style="height: 300px; float: right;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Testimonials -->
    <div class="container-fluid text-align:center" id="testimonials" style="margin-top: 32px;">
        <div class="testimonials">
            <div id="myCarouseltestimonial" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="row row-equal carousel-item {{ i == 0 ? 'active' : '' }}" *ngFor="let chunkProducts of testimonialslistloop;let i =index;">
                        <div class="row">
                            <div class="col-md-4" *ngFor="let slider of chunkProducts;let i =index;">
                                <div class="testmonial">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title1  text-center">{{slider.PostedBy}}</h5>
                                            <div class="ratings">
                                                <div *ngIf="0 === i % 2" class="stars text-center"> <img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}>
                                                </div>
                                                <div *ngIf="1 === i % 2" class="stars text-center"> <img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{starcolor}}><img src={{star}}>
                                                </div>
                                            </div><br>
                                            <p class="" style="font-size: 12px;height: 108px; overflow: hidden;">
                                                {{slider.Testimonial}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarouseltestimonial" role="button" data-slide="prev">
                    <img src="{{arrowleft}}" class="arrow">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarouseltestimonial" role="button" data-slide="next">
                    <img src="{{arrowright}}" class="arrow">
                    <span class="sr-only">Next</span></a>
            </div>
        </div>
    </div>

    <!-- AboutUS  -->
    <div class="container product-aboutUs" *ngFor="let list of aboutuslist;">
        <h2 class=" title1 text-center" style="margin:72px;">{{list.PageTitle}}</h2>
        <p class="container" style="line-height: 35px;  text-align: justify; color:#707070; font-size: 18px;" [innerHTML]="list.PageDescription | linebreak"></p>
        <!-- <p class="container" style="line-height: 45px;  text-align: justify; color:#707070; font-size: 18px;">
            {{list.PageDescription}}</p> -->
        <div class="button" style="margin: 48px;">
            <button type="button" routerLink="/aboutUs" class="btn btn-default shadow-none btn-sm mx-auto d-block" style="border: 1px solid #3E5776; color: #3E5776; border-radius: 4px;">
                <span class="btn-label text-center">
                    Read More</span><img src={{arrowwhiteright}}
                    style="padding: 4px;background-color:#3E5776; color:white; border-radius: 4px;"></button>
        </div>
    </div>

    <!-- homestats -->
    <div class="container-fluid">
        <div class="homestats">
            <p class="title1 text-center" style="margin: 72px;">{{homeStatsmessage}}</p>
            <div class="row">
                <div class="col-md-3 col-sm-12" *ngFor="let list of homestatarray;">
                    <div class="stats">
                        <div class="text-center"></div>
                        <div class="img text-center"><img src="{{ImagePathhomestat}}{{list.StatsImage}}" loading="eager" style="height: 64px; width: 64px;"></div>
                        <div class="card-title1 text-center">{{list.StatsName}}</div>
                        <div class="text-center" style="font-size:28px;font-weight:600; margin-top: 4px;">{{list.StatsCount}}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>

<app-spinner></app-spinner>