<app-nav-bar>
</app-nav-bar>
<div class="all">
    <div class="row allpurchases">
        <div class="col-md-3 col-sm-12">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row" style="float: right;">
                <a *ngFor="let list of purchasestype;;let i=index" [ngClass]="{'selected-color' : i==selectedIndex}" (click)="changeColor(i)" class="purchase-links" routerLinkActive="active" (click)="purchasesclick(list.paymentstatus1,list.paymentstatus2)">
                    <p class="inline">{{list.title}} &nbsp;|</p>
                </a>
            </div>
            <table class="table text-center">
                <thead class="thead">
                    <tr class="header">
                        <th scope="col">Order Id</th>
                        <th scope="col" style="border-left:1px solid #868686; border-right: 1px solid #868686;">Order Date
                        </th>
                        <th scope="col">Price</th>
                        <th scope="col" style="border-left:1px solid #868686; border-right: 1px solid #868686;">Payment Status
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let purchase of purchases; let i=index;">
                    <tr *ngIf="purchase.PaymentStatus == (paymentstat1 ||  paymentstat2)">
                        <td style="color: #201E1E; size: 16px;">
                            {{purchase.OrderID}}
                        </td>
                        <td style="color: #201E1E; size: 18px;">
                            {{purchase.TransactionDate}}
                        </td>
                        <td style="color: #201E1E; size: 18px;">
                            <img src="{{rupee}}" style="height: 16px; width: 16px;"> {{purchase.TotalAmount}}
                        </td>
                        <td style="color: #201E1E; size: 18px;">
                            {{purchase.PaymentStatus}}
                        </td>
                        <td *ngIf="isToggled" (click)="onToggle(i,purchase.TranscationID)" style="cursor: pointer; padding: 0px;"><img class="arrow" src="{{arrowup}}"></td>
                        <td *ngIf="!isToggled" (click)="onToggle(i,purchase.TranscationID)" style="cursor: pointer; padding: 0px;"><img class="arrow" src="{{arrow}}"></td>
                    </tr>
                    <tr *ngIf="isToggled && purchase.PaymentStatus == (paymentstat1 ||  paymentstat2)" class="dropdownlist">
                        <td *ngIf="i==selectedIndex1" style="padding: 0px; margin: 0px;">
                            <img class="arrow" src="{{path}}{{purchase.ProductImage}}" style="height: 79px; width: 84px;">
                        </td>
                        <td *ngIf="i==selectedIndex1" colspan="3" class="dropdowntext">
                            {{purchase.ProductName}}
                        </td>
                        <td *ngIf="i==selectedIndex1" style="color: #F65B01; size: 14px; cursor: pointer;" (click)="productid(purchase.ProductID)">
                            View
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center" style="margin-top: 32px; color: black; font-size: 18px; font-weight: 500;" *ngIf="message">{{message}}</div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>