*{
    font-family: 'Poppins', sans-serif;
}

.allpurchases {
    margin: 32px 16px;
}

.inline {
    margin: 0px 10px;
}
.purchase-links{
    cursor:pointer;
    color:#1E1D1D;
     font-size:14px;
}
.selected-color {
    color: #FC993D;
    /* border-bottom-style: solid; */
    font-size:14px;
}

a {
    color: black;
    text-decoration: none;
}

.table {
    margin-top: 48px;
}

th {
    height: 33px;
    width: 20%;
    font-weight:bold;
    color:#3E5776;
    font-size:16px;
}

td {
    width: 20%;
    color:#201E1E;
    line-height:21px;
    font-size:16px;
}

.thead {
    background-color: #F3F3F3;
}

.dropdownlist {
    background: #F3F3F3 0% 0% no-repeat padding-box;
    border-radius: 4px;
}

.dropdowntext {
    text-align: left;
    font: Poppins;
    letter-spacing: 0.54px;
    font-size: 18px;
    color: #201E1E;
    text-transform: capitalize;
    opacity: 1;
}