<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="logo-home" routerLink="/home"> <img src="{{logoIcon}}" alt="logo" class="logo" loading="eager"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/products']" routerLink="/mbacources" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/aboutUs']" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" [routerLink]="['/contactUs']" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
            <span *ngIf="isLoggedIn;then condition1 else condition2"></span>
            <ng-template #condition1>
                <!-- <li class="nav-item dropdown">
                    <a href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="icons" src="{{notificationIcon}}" class="icons">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                        <a class="dropdown-item" href="#">
                            <div class="notification text-center">
                                <img class="" src="{{notificationDropDownIcon}}" style="height: 30px; width: 30px;"><br>
                                <span class="" style="color: #3E5776; font-size: 12px;">updates to keep you on track</span><br>
                                <span class="" style="font-size: 10px;">See personalised study reminders and timely<br> updates from enrolled courses, and more.</span>
                            </div>
                        </a>
                    </div>
</li> -->
                <li class="nav-item dropdown">
                    <a *ngIf="!profileimage" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="icons" src="{{logoutIcon}}" style="height: 41px; width: 41px; border-radius: 50%;">
                    </a>
                    <a *ngIf="profileimage" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="icons" src="{{FilePath}}{{profileimage}}" style="height: 36px; width: 36px; border-radius: 50%;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <a [routerLink]="['/profile']" class="dropdown-item" href="#">
                                <div class="row">
                                    <div class="">
                                        <img class="profile" src="{{profileIcon}}">
                                    </div>
                                    <div class="text-center ml-4">
                                        <span class="name" style="font-size: 16px;line-height: 0px;">{{username}}</span><br>
                                    </div>
                                </div>
                            </a> -->
                        <a class="dropdown-item" [routerLink]="['/mypurchases']">All Purchased Courses</a>
                        <a class="dropdown-item" [routerLink]="['/profile']">Settings</a>
                        <a class="dropdown-item" data-toggle="modal" data-target=".logout-modal-sm">Sign Out</a>
                    </div>
                </li>
            </ng-template>
            <ng-template #condition2>
                <button class="btn btn-dark shadow-none pl-3 pr-3 btn-sm mx-12" style="border-radius: 8px;" routerLink="/register" type="button">Register</button> &nbsp; &nbsp;
                <button class="btn btn-dark shadow-none pl-3 pr-3 btn-sm mx-12" style="border-radius: 8px;" routerLink="/login" type="button">Log In</button>
            </ng-template>
        </div>
    </nav>
</div>

<!-- logout users Modal -->
<div class="modal fade logout-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModelLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
            </div>
            <div class="modal-body">
                <h6 class="" style="color: #000000;">Are you sure want to logout?</h6>
            </div>
            <div class="row logoutbuttons">
                <div class="col">
                    <button type="button" class="btn btn-secondary shadow-none cancelbutton btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary shadow-none logoutbutton btn-block" (click)="logoutclick()" data-dismiss="modal">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>