*{
font-family: 'Open Sans', sans-serif;
}

.nav-item a {
    letter-spacing: 0.54px;
    font-weight: 600;
    color: #3E5776;
    font-size: 18px;
    background: none;
    cursor: pointer;
}


/* 
.icons {
    height: 36px;
    width: 36px;
} */

.profile {
    width: 24px;
    height: 24px;
}

.dropdown-item {
    font-size: 12px;
}

.dropdown-menu a {
    font-size: 12px;
}

.active {
    color: yellow;
}

.logoutbuttons {
    margin: 16px 8px 24px 8px;
}

.logoutbutton {
    background: #F65B01 0% 0% no-repeat padding-box;
    border-color: #F65B01;
    color: #FFFFFF;
}

.notification{
  font-family: 'Poppins', sans-serif;  
}