<div class="">
    <div class="card">
        <div class="row">
           <div class="col-2">
                <img src="{{testimonialsright}}" (click)="backarrowtoprojects()" class="" height="48px" width="48px" style="margin: 16px; cursor: pointer;">
            </div>
              <div class="col-10">
                <a class="logo-home" routerLink="/home"> <img src="{{logoIcon}}" alt="logo" style="float:right" class="logo"></a>
            </div>
        </div>
    </div>
    <div class="questions">
        <p class="title my-auto"><span class="" style="cursor: pointer;" (click)="overviewclickclick()">Overview</span> &nbsp; &nbsp; <span class="border"></span>&nbsp;&nbsp;
            <span class="" style="cursor: pointer; font-size:18px;" (click)="overallperformanceclick()">Overall Performance</span> &nbsp; &nbsp; <span class="border"></span> &nbsp;&nbsp;
            <span class="" style="color: #F65B01; text-decoration: underline;">Questions</span> <a download href="{{downloadreportqtns}}" target="_blank"><span class="" 
                    style="float: right; cursor: pointer;">Download</span></a></p>
        <div class="card card1">
            <div class="" *ngFor="let ques of questions;let i=index">
                <div class="">{{ques?.Explanation}}</div><br>
                <div class="questionno"><span>Q{{i+1}}.</span></div>&nbsp;
                <div class="questiondisply" [innerHTML]="ques?.Question"></div>
                <div class="options" *ngFor="let o of currentQuestionSet[i].Answers;let i=index">
                    <span class=""><span>{{i+1}}.</span> &nbsp;&nbsp;{{o.Answer}}</span>
                </div>
                <div class="result">
                    <span class="" style="color: #FA6868; font-size: 18px;">Correct Answer:
                        {{ques.CorrectAnswer}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="" style="color: #3E5776;font-size: 18px;">Selected Answer:
                        {{ques.UserSelectedAnswer}}</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>