*{
    font-family: 'Poppins', sans-serif;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #C1CFD933;
    opacity: 1;
}

.card1 {
    margin: 48px 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 20px #C1CFD933;
    opacity: 1;
    padding: 16px;
}

.questionno {
    color: #201E1E;
    text-transform: capitalize;
    opacity: 1;
    font-size: 18px;
    display: inline;
    margin: 8px;
}

.questiondisply {
    font-size: 18px;
    display: inline;
    margin: 8px;
}

.options {
    margin-left: 32px;
    font-size: 16px;
}

.result {
    margin: 16px;
}

.title {
    background-color: #F3F3F3;
    padding: 2px 32px 2px 16px;
    border-radius: 4px;
    font-size: 18px;
}

.questions {
    margin-top: 32px;
}