<app-nav-bar>
</app-nav-bar>
<div class="changepassworddetails">
    <div class="row changepassword">
        <div class="col-md-3 col-sm-12">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="changepassword">
                <h2 class="title">Change Password</h2>
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="label">*Old Password</label>
                        <div class="input-group">
                            <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" formControlName="oldpassword" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }">
                            <div class="input-group-append">
                                <span class="input-group-text" style="background-color: #F9F9F9;">
                                    <i class="fa"
                                        [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }"
                                        (click)="toggleFieldPassword()"></i>
                                </span>
                            </div>
                            <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                                <div *ngIf="f.oldpassword.errors.required">{{oldpasswordValidation}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label">*New Password</label>
                        <div class="input-group">
                            <input [type]="confirm_text_password ? 'text' : 'password'" formControlName="newpassword" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                            <div class="input-group-append">
                                <span class="input-group-text" style="background-color: #F9F9F9;">
                                    <i class="fa"
                                        [ngClass]="{'fa-eye-slash': !confirm_text_password,'fa-eye': confirm_text_password }"
                                        (click)="toggleConfirmFieldPassword()"></i>
                                </span>
                            </div>
                            <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                                <div *ngIf="f.newpassword.errors.required">{{newpasswordValidation}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">*Confirm Password</label>
                        <div class="input-group">
                            <input [type]="new_confirm_text_password ? 'text' : 'password'" formControlName="confirm_password" class="form-control border-right-0" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
                            <div class="input-group-append">
                                <span class="input-group-text" style="background-color: #F9F9F9;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !new_confirm_text_password,'fa-eye': new_confirm_text_password }"
                                            (click)="newtoggleConfirmFieldPassword()"></i>
                                    </span>
                            </div>
                            <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                <div *ngIf="f.confirm_password.errors.required">{{confirmpasswordValidation}}</div>
                                <div *ngIf="f.confirm_password.errors.Passwordmatcher">
                                    {{confirmpasswordvalidatorValidation}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default height: 38px; btn-block">Change
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>