
.changepassword {
    margin: 32px 16px;
}

.title {
    margin-bottom: 16px;
    color: #F65B01;
    font-size: 20px;
    font-weight:500;
    font-family: 'Poppins', sans-serif; 
}
.label{
    color:#1E1D1D;
    font-size: 16px;
    font-weight:400;
    font-family: 'Poppins', sans-serif; 
}
.btn-default {
    background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-color: #F65B01;
    border-radius: 8px;
    color: white;
    font-size:20px;
    font-family: 'Poppins', sans-serif; 
}

.form-control {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    height: 33px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}