*{
    font-family: 'Poppins', sans-serif;
}

.noofquestions {
    margin: 32px;
    font-size:20px;
    color:#201E1E;
     font-weight:500;
}

.quiz {
    margin: 32px 32px;
}

.title {
    background-color: #F3F3F3;
    padding: 2px 32px 2px 16px;
    border-radius: 4px;
    font-size: 20px;
    color: #201E1E;
    font-weight:500;
}

.time {
    padding-right: 64px;
}

.options {
    margin: 8px 8px 8px 64px;
    color:#201E1E;
    font-weight:400;
    font-size:18px;
}
.explanation{
  color: #201E1E;
  font-weight:500;
  font-size: 16px;
}

.questionno,
.questiondisply {
    color: #201E1E;
    text-transform: capitalize;
    opacity: 1;
    font-size: 18px;
    display: inline;
    height: 100%;
    font-weight:500;
}


.card {
    padding: 16px 32px 16px 16px;
    box-shadow: 8px 3px 6px #00000029;
    border: 0.5px solid #3E5776;
    border-radius: 4px;
    opacity: 1;
}

.numberslist {
    padding: 16px 32px 16px 16px;
    background: #F3F3F3 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    margin-bottom: 16px;
    color: black;
}

.btn-default {
    padding: 0px 24px;
    margin-top: 16px;
    background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 8px;
    border-color: #F65B01;
    color: white;
    font-size: 20px;
    font-weight:300;
}

.nextprvbutton {
    margin-left: auto;
    margin-right: 0;
}

.qustns {
    margin: 8px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000021;
    opacity: 1;
    text-align: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-weight:300;
}

.answered {
    background-color: #FA6868;
    color: #FFFFFF;
}

.notanswered {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #00000021;
    color: black;
}

@media only screen and (max-width: 600px) {
    .noofquestions {
        margin: 16px 8px;
    }
    .title {
        background-color: #F3F3F3;
        padding: 2px 16px 2px 8px;
        border-radius: 4px;
        font-size: 16px;
        color: #201E1E;
    }
    .time {
        padding-right: 4px;
    }
}