<div class="quiz" #fullScreen>
    <p class="title my-auto">{{testname}}<span class="time" style="float:right; color: #526F94;font-weight:300;">Time Left: {{counter | formattime}}</span></p>
    <div id="quiz">
        <div>
            <div class="noofquestions">Questions {{currentIndex+1}}/{{totolnoofqustns}}</div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="">
                            <div class="explanation">{{currentQuestionSet?.Explanation}}</div><br>
                            <div class=row>
                            <div class="col-1">
                            <div class="questionno"><span>Q{{currentIndex+1}}.</span></div></div>
                            <div class="col-11">
                            <div class="questiondisply" [innerHTML]="currentQuestionSet?.Question"></div></div>
                            </div>
                        </div><br>
                        <div class="options" *ngFor="let o of currentQuestionSet?.Answers">
                            <label class="">
                        <input id="{{o.AnswerID}}" [(ngModel)]="currentQuestionSet.UserSelectedAnswer" name="{{currentQuestionSet.QuestionID}}" (change)="onItemChange(o.AnswerID,currentQuestionSet.QuestionID)" value="{{o.AnswerID}}" type="radio" >&nbsp;&nbsp;{{o.Answer}}</label>
                        </div>
                        <div *ngIf="nextbuttoncheck" class="nextprvbutton" style="float: right;">
                            <input type="button" class="btn btn-default " value="Next" (click)="next()" />
                        </div>
                    </div>
                    <div class="" (click)="testSubmit()">
                        <input type="button" class="btn btn-default btn-block" value="Submit" style="margin-top: 64px; margin-bottom: 16px; height: 42px;" />
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="numberslist">
                        <div class="row">
                            <p *ngFor="let tnoqustns of questions;let i=index">
                                <span class="qustns" (click)="rightsidequstnsclick(i)" class="qustns pt-1 {{ isAnswered(tnoqustns)=='Answered' ? 'answered': 'notanswered' }}">{{i+1}}</span></p>
                        </div>
                    </div>
                    <div class="card numberslist">
                        <div class="row">
                            <div class="col-md-5">
                                <p> <span class="qustns pt-1" style="background-color: #FA6868; color: white;">{{NumQuesAnswered}}</span>Answered</p>
                            </div>
                            <div class="col-md-7 ">
                                <p> <span class="qustns pt-1" style="background-color: #201E1E; color: white;">{{NumQuesNotAnswered}}</span>Not Answered</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>