
*{
    font-family: 'Poppins', sans-serif;
}
 .userlist {
     margin: 32px 16px;
 }
 
 .userlistbutton {
     margin: 64px 0px 32px 0px;
 }
 
 .form-control {
     background: #F9F9F9 0% 0% no-repeat padding-box;
     border-radius: 4px;
     opacity: 1;
     height: 33px;
 }
 
 .input-group-prepend {
     background: #F9F9F9;
 }
 
 .icons {
     height: 17px;
     width: 17px;
 }
 
 .input-group-prepend {
     background: #F9F9F9 0% 0% no-repeat padding-box;
     background-color: #F9F9F9 0% 0% no-repeat padding-box;
 }
 

.inline {
    margin: 16px 0px;
    font-size: 16px;
    color:#1E1D1D;
    font-weight:500;
}

.inline1 {
    margin: 16px 0px;
    font-size: 16px;
    color:#6F6F6F;
}

 .btn-default {
     background: transparent linear-gradient(296deg, #FA6868 0%, #FA6868 42%, #F65B01 100%) 0% 0% no-repeat padding-box;
     box-shadow: 0px 0px 6px #00000029;
     border-radius: 8px;
     border-color: #F65B01;
     color: white;
     height: 38px;
     font-size:20px;
 }
 
 .form-control:focus {
     border-color: lightgray;
     -webkit-box-shadow: none;
     box-shadow: none;
 }