<app-nav-bar>
</app-nav-bar>
<div class="profiledetils">
    <div class="row userlist">
        <div class="col-md-3 col-sm-12">
            <app-profilesidenav></app-profilesidenav>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="update">
                <div class="row userlist">
                    <div class="userdetails-list">
                        <div class="inline">User id</div>
                        <div class="inline">E mail id</div>
                        <div class="inline" style="padding-top: 8px;">User Name</div>
                        <div class="inline" style="padding-top: 8px;">Mobile number</div>
                    </div>
                    <div class="col productname">
                        <div class="col">
                            <div class="inline1">{{userid}}</div>
                            <div class="inline1">{{email}}</div>
                            <form *ngIf="updateuserprofileform" [formGroup]="updateuserprofileform" (ngSubmit)="onSubmit()">
                                <div class="inline1">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" formControlName="fullname" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                                            <div class="input-group-append">
                                                <span class="input-group-text ">
                                                    <img src="assets/icons/edit.png" class="icons">
                                                </span>
                                            </div>
                                            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                                <div *ngIf="f.fullname.errors.required">{{usernameValidation}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inline1">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" formControlName="mobile" class="form-control" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                            <div class="input-group-append">
                                                <span class="input-group-text ">
                                                    <img src="assets/icons/edit.png" class="icons">
                                                </span>
                                            </div>
                                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                <div *ngIf="f.mobile.errors.required">{{mobilenoValidation}}
                                                </div>
                                                <div *ngIf="f.mobile.errors.pattern">
                                                    {{mobilenodigitsValidation}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group userlistbutton">
                                    <button type="submit" class="btn btn-default btn-block">Update Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>