<div class="overallviewreport">
    <div class="card">
        <div class="row">
           <div class="col-2">
                <img src="{{testimonialsright}}" (click)="backarrowtoprojects()" class="" height="48px" width="48px" style="margin: 16px; cursor: pointer;">
            </div>
              <div class="col-10">
                <a class="logo-home" routerLink="/home"> <img src="{{logoIcon}}" alt="logo" style="float:right" class="logo"></a>
            </div>
        </div>
    </div>
    <div class="Reports">
        <p class="title my-auto"><span class="" style="cursor: pointer;" (click)="overviewclick()">Overview</span> &nbsp; &nbsp; <span class="border"></span>&nbsp;&nbsp;
            <span class="" style="color: #F65B01; text-decoration: underline;cursor: pointer;">Overall Performance</span> &nbsp; &nbsp; <span class="border"></span>&nbsp;&nbsp;
            <a download href="{{downloadoverviewreport}}" target="_blank"><span class="" style="float: right; cursor: pointer;">Download</span></a></p>
        <div class="card card1">
            <div class="result" *ngFor="let rep of performancereport">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{usernameIcon}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Subject</div>
                                <div class="inline1">{{rep.SubjectName}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reporttick}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Marks Scored</div>
                                <div class="inline1">{{rep.SubjectTotalScore}}/{{rep.TotalSubjectQuestions}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reportstar}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Correct Answers</div>
                                <div class="inline1">{{rep.SubjectCorrectAnswer}}/{{rep.TotalSubjectAttempted}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="icon">
                                <img src="{{reporttime}}" alt="logo" class="profile">
                            </div>
                            <div class="">
                                <div class="inline">Percentage</div>
                                <div class="inline1">{{rep.PercentageScore | number : '1.2-2'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>