*{
    font-family: 'Poppins', sans-serif;
}

.dummy{
    font-size:14px;
    color:#201E1E;
}
.paymnent {
    margin: 4px 32px;
}

.productimage {
    width: 100%;
}

.protitle {
    letter-spacing: 0px;
    color: #201E1E;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 500;
    font-size: 18px;
    margin-bottom:4px;
}

.protitle1 {
    color: #707070;
    font-size: 14px;
    text-align:justify;
}

.amount {
    margin-top: 16px;
}

.producttitle {
    margin: 24px 0px 0px 16px;
    color: #201E1E;
    font-size: 14px;
    font-weight: normal;
}

.userdetails {
    padding: 32px;
    border-radius: 8px;
    margin-top: 42px;
    margin-bottom: 32px;
    background: #00000014 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000014;
}
.userdetilstext{
 color: #3E5776; 
 margin: 8px; 
 font-weight: 500;
 text-align:center;
 font-size:18px;
}


.form-control,
.input-group-text {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    color:#201E1E;
    font-size:16px;
}

.btn-default {
    background: #3E5776 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #FFFFFF;
    height: 38px;
    font-size:16px;
    font-weight:400;
    text-transform: uppercase;
}

.amoutrate {
    padding: 24px 4px;
}

.card {
    padding: 4px;
    border: 0.5px solid #707070;
    border-radius: 4px;
    margin: 48px 0px;
}

