<div class="container-fluid">
    <div class="paymnent" *ngFor="let list of prodcutdetils;">
        <img src="{{logo_icon}}" [routerLink]="['/home']" class="logo" style="cursor: pointer;">
        <hr>
        <div class="producttitle">
            <div class="row">
                <span class="dummy">COURSE MODULE</span><span class="" style="margin-top: -4px;">...........</span>
                <span class="dummy">SELECT SLOT</span><span class="" style="margin-top: -4px;">...........</span>
                <span class="dummy1" style="color: #FC993D; text-decoration: underline;">PAYMENT</span>
            </div>
        </div>
        <div class="productdetails">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{path}}{{list.ProductImage}}" class="productimage" style="border-radius: 8px;">
                            </div>
                            <div class="col-md-8 productname">
                                <div class="col">
                                    <div class="protitle">{{list.ProductName}}</div>
                                    <div class="protitle1">{{list.ShortDescription}}</div>
                                    <div class="amount"><img src="{{rupee}}" style="height: 16px; width: 16px;">{{list.Amount}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- user details -->
                <div class="col-md-4">
                    <div class="userdetails">
                        <div class="userdetailspayment-form">
                            <form>
                                <div class="userdetilstext">User Details</div>
                                <div class="form-group" *ngIf="username">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{{username}}" placeholder="Your Name" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{{email}}" placeholder="Your Email" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{{mobileno}}" placeholder="Your Phone Number" readonly>
                                    </div>
                                </div>
                                <p class="amoutrate">
                                    <span class="" style="float: left; font-size:15px;color:#201E1E;">Total</span><span class="" style="float: right; font-size:15px;color:#201E1E;"><img src="{{rupee}}" style="height: 16px; width: 16px;">{{list.Amount}}</span>
                                </p>
                                <div class="form-group">
                                    <button type="submit" (click)="createRzpayOrder()" class="btn btn-default btn-sm btn-block">MAKE PAYMENT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>