<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 px-0">
            <img src="{{left_img}}" alt="" class="register-img">
        </div>
        <div class="col-sm-12 col-md-6 register-section-wrapper">
            <div class="brand-wrapper">
                <img src="{{logoIcon}}" alt="logo" class="logo mx-auto d-block">
            </div>
            <div class="register-wrapper my-auto">
                <h6 class="title text-center">Sign up to Treta</h6>
                <div class="register-form">
                    <form ngNativeValidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <!-- <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{usernameIcon}}" class="icons">
                                    </span>
                                </div>
                                <input type="text" formControlName="fullname" class="form-control" maxlength="10" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                    <div *ngIf="f.fullname.errors.required">{{usernameValidation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{name_icon}}" class="icons">
                                    </span>
                                </div>
                                <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">{{usernamesvalidation}}
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{emailIcon}}" class="icons">
                                    </span>
                                </div>
                                <input type="text" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">{{emailValidation}}</div>
                                    <div *ngIf="f.email.errors.pattern">{{emailpatternValidation}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{mobile_icon}}" class="icons">
                                    </span>
                                </div>
                                <input type="text" formControlName="mobile" class="form-control" maxlength="10" placeholder="Mobile Number" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.mobile.errors.required">{{mobilenoValidation}}</div>
                                    <div *ngIf="f.mobile.errors.pattern">{{mobilenodigitsValidation}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{passwordIcon}}" class="icons">
                                    </span>
                                </div>
                                <input [type]="fieldTextTypePassword ? 'text' : 'password'" formControlName="password" class="form-control  border-right-0" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #F5F5F5;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !fieldTextTypePassword,'fa-eye': fieldTextTypePassword }"
                                            (click)="toggleFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">{{passwordValidation}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="{{passwordIcon}}" class="icons">
                                    </span>
                                </div>
                                <input [type]="confirm_text_password ? 'text' : 'password'" formControlName="confirm_password" class="form-control border-right-0" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: #F5F5F5;">
                                        <i class="fa"
                                            [ngClass]="{'fa-eye-slash': !confirm_text_password,'fa-eye': confirm_text_password }"
                                            (click)="toggleConfirmFieldPassword()"></i>
                                    </span>
                                </div>
                                <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirm_password.errors.required">
                                        {{confirmpasswordValidation}}</div>
                                    <div *ngIf="f.confirm_password.errors.Passwordmatcher">
                                        {{confirmpasswordvalidatorValidation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-sm btn-block">SIGN UP</button>
                        </div>
                        <div *ngIf="error" class="alert alert-danger mt-4" role="alert" style="text-align: center;">
                            {{error}}
                        </div>

                    </form>
                    <p class="dummytext text-center">Already have an account? <a routerLink="/login" style="color:#F65B01; margin-top: 18px;font-weight: 600;">click </a>here to <a routerLink="/login" style="color:#F65B01; margin-top: 18px;font-weight: 600;">Login In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-spinner></app-spinner>