/* Left image to display */

.register-img {
    width: 100%;
    height: 100vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 4px 4px 0px;
}

.register-wrapper {
    margin: 0 auto;
    width: 65%;
}

.logo {
    margin-top: 12px;
    width: 58px;
    height: 60px;
    opacity: 1;
}

.title {
    font-size: 20px;
    line-height: 24px;
     font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.form-group {
    padding-top: 16px;
}

.input-group {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.input-group-text {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.form-control {
    background: #F5F5F5;
     font-family: 'Open Sans', sans-serif;
}

.input-group-prepend {
    background: #FFFFFF;
}

.form-control:focus {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label,
.forgot-password {
    font-size: 14px;
    color: #707070;
     font-family: 'Open Sans', sans-serif;
}

.btn-default {
    background-color: #F65B01;
    border-color: #F65B01;
    color: white;
    height: 33px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
}

.is-invalid {
    border-color: lightgray;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dummytext{
 color: #707070; 
 font-size: 14px;
   font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 600px) {
    .register-img {
        width: 100%;
        height: 150px;
        display: block;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0px 4px 4px 0px;
    }
    .custom-control-label,
    .forgot-password {
        font-size: 12px;
        color: #707070;
        cursor: pointer;
          font-family: 'Open Sans', sans-serif;
    }
    .title {
        font-size: 16px;
        line-height: 24px;
        color: #201E1E;
          font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    }
}


/*Horizontal line with words in the middle */

.line {
    margin-top: 48px;
}

.line-center {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    font-size: 16px;
    color: #707070;
    display: inline-block;
}

.text-line {
    text-align: center;
    position: relative;
    z-index: 2;
}

.text-line:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px #707070;
    z-index: -1;
}